.middle {
  margin-left: 80px;
  width: 70%;
  background-color: rgb(17, 17, 24);
  padding: 15px 35px;
  .top {
    display: flex;
    .card {
      padding: 1rem 1rem 0.75rem;
      background: rgb(34, 34, 47);
      border-radius: 30px;
      flex: 1;
      &:not(:last-child) {
        margin-right: 20px;
      }
      .work {
        background: linear-gradient(
          0deg,
          rgba(246, 186, 199, 0) 32.09%,
          #ffe4ed 116.54%
        );
        -webkit-filter: drop-shadow(0 10px 44px rgba(250, 214, 227, 0.1));
        filter: drop-shadow(0 10px 44px rgba(250, 214, 227, 0.1));
        border-radius: 24px;
        background: linear-gradient(
          180deg,
          rgba(255, 121, 150, 0.34902) -19.49%,
          rgba(35, 35, 48, 0) 78.54%
        );
        svg {
          margin-top: 15px;
          padding: 15px;
        }
      }
    }
  }
}
